/* Inserta tu codigo que es común para todas las páginas aqui */
/*Margin Padding*/
.pt-2{
	padding-top: 2%;
}
.pb-2{
	padding-bottom: 2%;
}
.pd-2{
	padding: 2%;
}
.p5{
	padding: 5%;
}
.mgt-2{
	margin-top: 2%;
}
.mgb-2{
	margin-bottom: 2%;
}
.pt-4{
	padding-top: 4%;
}
.pt-10{
	padding-top: 10%;
}
/*Texto*/
.text-bold{
	font-weight: bold;
}
.text-gray2{
	color: #D8D8D8;
}
.text-big{
	font-size: 50px;
}
.font-20{
	font-size: 20px;
}
.text-40{
	font-size: 40px;
}
/*Menu*/
#header a:hover{
	color: #031124;
	font-weight: bold;
}
/*Contacto*/
#contacto{
	background-image: url("../img/shoes_1.jpg");
	background-repeat: no-repeat;
	height: 466px;
	background-position: right;
}
.btn-enviar{
	background-color: #031124;
	padding: 2%;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 18px;
}
.datos{
	border: 1px solid #D8D8D8;
	
}
#contacto img{
	width: 15px;
}
.alto{
	height: 150px;
}
/*Footer*/
#footer{
	background-color: #031124;
	height: 50px;
	font-size: 12px;
}
#footer img{
	max-width: 15px;
	margin-left: 10px;
}